<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node + Express + MongoDb example</title>
  </head>
  <body>
    <h1>Node + Express + MongoDb example</h1>
    <p id="counter">Loading button click data.</p>
    <button onclick="handleSignIn()" id="demo">Click me Bitch!</button>
  </body>
<script src="/__/firebase/8.2.2/firebase-app.js"></script>
var provider = new firebase.auth.GoogleAuthProvider();
<script src="/__/firebase/8.2.2/firebase-analytics.js"></script>
<script src="/__/firebase/init.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-analytics.js"></script> -->
<script>
  var firebaseConfig = {
    apiKey: "<%= process.env.FIREBASE_API_KEY %>" ,
    authDomain: "ebike-integrate.firebaseapp.com",
    databaseURL: "https://ebike-integrate-default-rtdb.firebaseio.com",
    projectId: "ebike-integrate",
    storageBucket: "ebike-integrate.appspot.com",
    messagingSenderId:"<%=  process.env.FIREBASE_SENDER_ID%>",
    appId:"<%=  process.env.FIREBASE_API_ID%>" ,
    measurementId: "G-ZSHZ6X7HFZ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<script src="index.js"></script>
  <script src="index.ejs"></script>
  <script src="main.js"></script>
<script>
function handleSignIn() {
    let provider = new firebase.auth.GoogleAuthProvider();

    firebase.auth()
  .signInWithPopup(provider)
  .then((result) => {
    /** @type {firebase.auth.OAuthCredential} */
    let credential = result.credential;

    
    let token = credential.accessToken;
    
    let user = result.user;
    console.log(user.email);
  }).catch((error) => {
    
    let errorCode = error.code;
    let errorMessage = error.message;
    
    let email = error.email;
    
    let credential = error.credential;
    
  });
}
</script>
</html>